.navbar{
      padding-top: 25px;
      margin-left: 122px;
      margin-right: 220px;
      margin-bottom: 40px;
      @media (min-width: 0) and (max-width: 1440px) {
        margin-right: 145px;
        
      }
      .nav__responsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .nav-logo{
          margin-left: 20px;
          width: 320px;
          @media (min-width: 0) and (max-width: 576px) {
            margin-left: -120px;
            margin-right: 180px;
            display: flex;
            align-items: center;
            margin-top: -10px;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            // width: 600px;
          
          } 

        }

        .btn{
          border: 1px solid #fff;
          border-radius: 30%;
          height: 40px;
          box-shadow: 0 0 6px 3px #d3d3d3;
          cursor: pointer;
          display: none;
          @media (min-width: 0) and (max-width: 576px) {
            display: block;
            margin-top: -12px;
            
          }
          @media (min-width: 576px) and (max-width: 767px) {
            display: block;
          
          }
          img{
            margin-top: -3px;
          }
        }
      
        .offcanvas{
          width: 297px;
          .offcanvas-header{
            width: 297px;
            img{
              margin-left: -38px;
            }
          }
          .offcanvas-body{
              width: 297.11px;
            hr{
              border: 2px solid #90d92a;
              margin-top: -15px;
              opacity: 1;
              width: 268.11px;
            }
            .nav-link{
              color: #000;
              margin-left: 5px;
              color: #000;
              font-family: 'Montserrat-Medium';
              margin-top: 5px;
              gap: 0;
              padding: 0;
            }
            .active{
              color: red;

            }
          }
        }
      

      }
      
      #toggler, label {
        display: none;
      }
 
      .nav__menu{
        margin-top: 5px;
          display: flex;
          align-items: center;
          @media (min-width: 0) and (max-width: 576px) {
            display: none;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            display: none;
          
          }
          .nav{
            margin-left: -10px;
              .nav-item{
                  .nav-link{
                    transition: all 500ms;
                      padding: 0;
                      color: #6e7284;
                      cursor: pointer;
                      font-family: 'Montserrat-Medium';
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 16px;
                      list-style: none;
                      margin-right: 20px;
                      transition: .2s;
                  }
                  .nav-link:hover{
                    transition: .2s;
                     color: #fa1e34;
                  }
                .nav-link:focus{
                    transition: .2s;
                    color: #fa1e34;

                }
                .nav-link:active{
                    transition: .2s;
                    color: #fa1e34;

                }

                .active{
                  color: #fa1e34;
                  transition: .2s;
                }
                    
              }
          }
          .call__number{
              display: flex;
              align-items: center;
              p{
                  margin-left: 8px;
                  margin-top: 16px;
                  color: #36383f;
                  display: flex;
                  font-family: 'Montserrat-Medium';
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 500;
                  letter-spacing: .02em;
                  line-height: 18px;
                  margin-right: 20px;
              }
          }
          .by__work{
              color: #699629;
              font-family: 'Montserrat-Medium';
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              margin-top: -2px;
              text-decoration: none;
          }
      }
}



  
