.tovar__body {
  padding-bottom: 50px;
  margin-top: -70px;
}
@media screen and (max-width: 426px) {
  .tovar__body {
    margin-top: -110px;
  }
}
.tovar__body .close svg {
  background: #90d92a;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  padding: 5px;
  margin-left: 1330px;
  margin-bottom: -190px;
}
@media screen and (max-width: 426px) {
  .tovar__body .close svg {
    margin-left: 380px;
  }
}

.tovar__container {
  padding-top: 120px;
  padding-left: 160px;
}
.tovar__container .tovar {
  display: flex;
  background: #fff;
  padding: 40px;
  width: 1200px;
  border-radius: 20px;
  margin-right: 120px;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 401.6px;
    margin-left: -148px;
  }
}
.tovar__container .tovar .tovar__texts {
  padding-top: 10px;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar .tovar__texts {
    text-align: center;
  }
}
.tovar__container .tovar .tovar__texts h2 {
  font-family: "Montserrat-Bold";
  font-size: 25px;
  width: 515px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar .tovar__texts h2 {
    font-size: 20px;
    width: 326px;
  }
}
.tovar__container .tovar .tovar__texts p {
  width: 515px;
  font-family: "Montserrat-Regular";
  font-size: 15px;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar .tovar__texts p {
    font-size: 12px;
    width: 321.6px;
  }
}
.tovar__container .tovar .tovar__texts .contact {
  align-items: center;
  background: #90d92a;
  border-radius: 20px;
  color: #fff;
  display: block;
  display: flex;
  font-family: "Montserrat-SemiBold";
  border: 0;
  font-size: 15px;
  height: 50px;
  justify-content: center;
  margin-top: 100px;
  text-decoration: none;
  width: 200px;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar .tovar__texts .contact {
    font-size: 12px;
    height: 30px;
    width: 150px;
    margin-left: 87px;
    margin-top: 5px;
  }
}
.tovar__container .tovar .tovar__texts .contact a {
  color: #fff;
  text-decoration: none;
}
.tovar__container .tovar img {
  margin-left: 100px;
  width: 533px;
  height: 400px;
}
@media screen and (max-width: 426px) {
  .tovar__container .tovar img {
    width: 300px;
    height: 250px;
    margin-left: -10px;
  }
}

.tovar__info {
  margin-left: 160px;
  margin-top: 30px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  margin-right: 120px;
  width: 1200px;
}
@media screen and (max-width: 426px) {
  .tovar__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 401.6px;
    margin-left: 12px;
  }
}
.tovar__info h2 {
  font-family: "Montserrat-Bold";
  font-size: 25px;
}
@media screen and (max-width: 426px) {
  .tovar__info h2 {
    font-size: 20px;
    width: 321.6px;
  }
}
.tovar__info p {
  font-family: "Montserrat-Regular";
  font-size: 15px;
  margin-top: 20px;
  width: 1096px;
}
@media screen and (max-width: 426px) {
  .tovar__info p {
    font-size: 12px;
    width: 321.6px;
  }
}/*# sourceMappingURL=Info.css.map */